<section
    id="about-app"
    class="px-[60px] py-[25px] font-['Rubik'] bg-[#B9F3D1] flex flex-col gap-[50px]"
>
    <div class="max-w-[861px] flex flex-col gap-[25px]">
        <h2 class="text-[18px] font-bold">About the app</h2>
        <h1 class="text-[45px] font-bold">
            What is NutriGain? One more gym app?
        </h1>
        <h3 class="font-['Mulish'] text-[21px]">
            First of all, no, not at all. Our app transforms the way people
            train and eat, depending on what their goals are. We help you track
            your training progress and weekly diet while keeping you inspired
            with challenges and avatars that evolve when you do too.
        </h3>
    </div>
    <div class="flex justify-between">
        <div class="feature-card">
            <img src="/aboutapp/f1.png" alt="2 in 1" />
            <h1>2 in 1 Fitness App</h1>
            <h3>Manage both your training routine and diet on 1 app.</h3>
        </div>
        <div class="feature-card">
            <img src="/aboutapp/f2.png" alt="Evolve" />
            <h1>Evolve with progress</h1>
            <h3>
                Unlock themes and items for your avatar when completing
                challenges or making progress.
            </h3>
        </div>
        <div class="feature-card">
            <img src="/aboutapp/f3.png" alt="Customize" />
            <h1>Customize everything!</h1>
            <h3>Adapt your fitness plan based on your preferences.</h3>
        </div>
    </div>
</section>
