<section id="about-us" class="px-[60px] py-[25px] flex flex-col gap-[20px]">
    <h3 class="font-['Rubik'] text-[18px] font-bold">Team</h3>
    <h1 class="font-['Rubik'] text-[45px] font-bold">About us</h1>
    <h2 class="font-['Mulish'] text-[21px]">
        Meet the big brains behind this app:
    </h2>
    <div
        class="px-[65px] pt-5 pb-[25px] flex flex-wrap gap-x-[210px] gap-y-[25px] justify-center font-['Rubik']"
    >
        <div class="member-card">
            <img src="/aboutus/sebastian.png" alt="Integrante 1" />
            <h4>Sebastian Méndez</h4>
            <h5>Ingeniería de Software</h5>
        </div>
        <div class="member-card">
            <img src="/aboutus/nicolas.png" alt="Integrante 2" />
            <h4>Nicolas Vera</h4>
            <h5>Ingeniería de Software</h5>
        </div>
        <div class="member-card">
            <img src="/aboutus/santiago.png" alt="Integrante 3" />
            <h4>Santiago Gordillo</h4>
            <h5>Ingeniería de Software</h5>
        </div>
        <div class="member-card">
            <img src="/aboutus/diego.png" alt="Integrante 4" />
            <h4>Diego Pumahualcca</h4>
            <h5>Ingeniería de Software</h5>
        </div>
        <div class="member-card">
            <img src="/aboutus/ariana.png" alt="Integrante 5" />
            <h4>Ariana Huapaya</h4>
            <h5>Ingeniería de Software</h5>
        </div>
    </div>
</section>
