<footer class="grid grid-cols-3 bg-[#212529] p-[25px] items-center">
    <img class="h-[125px]" src="/logo.png" alt="NutriGain Logo" />
    <h1 class="font-['Rubik'] text-[#F4E9E6] text-center text-[21px]">
        © 2025 NutriGain. All rights reserved.
    </h1>
    <div class="social-media-icons flex justify-end gap-5">
        <a href=""><img src="/yt.png" alt="NutriGain YT" /></a>
        <a href=""><img src="/ig.png" alt="Nutrigain IG" /></a>
        <a href=""><img src="/fb.png" alt="Nutrigain FB" /></a>
    </div>
</footer>
