<header
    class="max-h-[100px] px-[60px] grid grid-cols-3 font-['Rubik'] text-xl items-center bg-[#B9F3D1] justify-center rounded-b-lg"
>
    <div id="header-left" class="flex justify-between">
        <a href="#about-app">About the app</a>
        <a href="#paths">Paths</a>
        <a href="#pricing">Pricing</a>
    </div>
    <a id="header-middle" class="flex justify-center" href=""
        ><img
            id="header-middle"
            class="max-h-max h-[100px]"
            src="/logo.png"
            alt="NutriGain Logo"
        /></a
    >
    <div id="header-right" class="flex justify-between items-center">
        <a href="#about-us">About us</a>
        <div class="flex gap-9 items-center">
            <a href="">Login</a>
            <a
                class="pt-1.5 pb-1.5 pl-3 pr-3 border-2 rounded-lg bg-[#23D16C]"
                href="">Get started</a
            >
        </div>
    </div>
</header>
