<section
    id="hero"
    class="flex flex-wrap py-[50px] items-center font-['Rubik'] leading-tight justify-center xl:flex-nowrap xl:justify-around gap-[25px] xl:gap-0"
>
    <div
        id="slogan"
        class="flex flex-col gap-[25px] text-center items-center min-w-[585px]"
    >
        <h class="text-[54px] font-bold max-w-[804px]">
            Go <span class="text-[#23D16C]">healthy</span>, choose a <span
                class="text-[#23D16C]">P</span
            ><span class="text-[#E63946]">A</span><span class="text-[#496DDB]"
                >T</span
            ><span class="text-[#E377F9]">H</span> and BECOME the <span
                class="text-[#EFBF04]">BEST</span
            > YOU 💪
        </h>
        <h3 class="font-['Mulish'] text-[25px] max-w-[610px]">
            Wanna be aesthetic and strong? or perform better at sports? or even
            be more flexible? We help you create a <span class="text-[#EFBF04]"
                >high-quality</span
            > plan to reach these goals
        </h3>
    </div>
    <img class="max-w-[400px]" src="/hero/hs-img.png" />
</section>
