<section
    id="pricing"
    class="px-[60px] py-[25px] flex flex-col gap-[20px] bg-[#B9F3D1]"
>
    <h3 class="font-['Rubik'] text-[18px] font-bold">Plans</h3>
    <h1 class="font-['Rubik'] text-[45px] font-bold">Pricing</h1>
    <h2 class="font-['Mulish'] text-[21px]">
        Currently, NutriGain is on early access, you can use every feature there
        is so far. :)
    </h2>
</section>
