---
import Footer from "@components/Footer.astro"
import Header from "@components/Header.astro"
import "@styles/global.css"
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta
			name="viewport"
			content="width=device-width"
			initial-scale="1.0"
		/>
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta
			name="keywords"
			content="gimnasio,gym,nutrición,alimentación+saludable,gym+app,entrenamiento,yoga,deportes,vida+saludable,dieta,ejercicios"
		/>
		<title>NutriGain | El camino nutritivo definitivo</title>
		<meta
			name="description"
			content="Escoge un camino nutricional y SÉ TU MEJOR VERSIÓN. Organiza tu dieta y rutina de ejercicios entre MÁS DE 1000 COMBINACIONES POSIBLES."
		/>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"
			rel="stylesheet"
		/>
		<link
			href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap"
			rel="stylesheet"
		/>
	</head>
	<body class="scroll-smooth">
		<Header />
		<slot />
		<Footer />
	</body>
</html>
